<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is Emil Tsao's Second Attempt at completing the Rails Tutorail.  Contact me at <a href="mailto:emiltsao@gmail.com">emiltsao@gmail.com</a>
</p>